body {
     background-image: url('/img/book-2152349_1920.jpg');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #464646;

}

body:after {
     content:'';
     display: block;
     background-color: rgba(0, 0, 0, 0.3);
     width: 100vw;
     height: auto;
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
}

.bg-text {
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
     color: white;
     font-weight: normal;
     border: 2px solid #f1f1f1;
     z-index: 2;
     width: 80%;
     padding: 20px;
     text-align: center;
}


footer {
     position:fixed;
     bottom:0;
     width: 100%;
     background-color: rgba(0,0,0, 0.6);
}
.navbar {background-color: rgba(0,0,0, 0.6); }
.navbar li .dropdown-menu {     background-color: rgba(0,0,0, 0.6);  }

/* Dropdown menu font color*/

.navbar li .dropdown-menu  a{   color: white;  }

#table{
     margin: auto;

}
#index{
     margin: auto;

}
#bookImage {
     width: 80%;
     height: 80%;
}