<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<th:block th:include="~{fragments/head}"/>
<body th:background="${backgroundImage}">
<th:block th:include="~{fragments/header}"/>
<main>
    <div>
        <div class="container">
    <h1 class="text-center text-white" th:classappend ="${fontColor}">Add new book</h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-50" th:action="@{/add-book}" method="post" th:object="${bookModel}" enctype="multipart/form-data">
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="title" class="h4 mb-2 text-white" th:classappend ="${fontColor}">Title</label>
            </div>

            <input type="text" class="form-control" id="title" name="title" th:field="*{title}" maxlength = "100"  minlength = "5" required/>
            <ul th:if="${#fields.hasErrors('title')}">
                <li th:each="error :  ${#fields.errors('title')}" th:text="${error}" class="text-danger"></li>
            </ul>
        </div><br>
        <div class="form-group text-center">
            <br>
                <label for="image" class="h6 mb-2 text-white" th:classappend ="${fontColor}">Upload Book, book cover or other related image(Optional, PNG or JPG only, max 10 MB):</label>
            <div class="textCol d-flex justify-content-center">
            <input type="file"  id="image" name="image" th:field="*{image}"/>
                <ul th:if="${#fields.hasErrors('image')}">
                    <li th:each="error :  ${#fields.errors('image')}" th:text="${error}" class="text-danger"></li>
                </ul>
            </div><br>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2" th:classappend ="${fontColor}">Description</label>
            </div>
            <textarea type="text" th:field="*{description}" class="form-control" rows="3" id="description" name="description" maxlength = "600"  minlength = "30" required></textarea>
            <ul th:if="${#fields.hasErrors('description')}">
                <li th:each="error :  ${#fields.errors('description')}" th:text="${error}" class="text-danger"></li>
            </ul>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="author" class="h4 mb-2" th:classappend ="${fontColor}">Author name</label>
            </div>
            <input type="text" th:field="*{author}" class="form-control" id="author" name="author" maxlength = "100"  minlength = "5" required/>
            <ul th:if="${#fields.hasErrors('author')}">
                <li th:each="error :  ${#fields.errors('author')}" th:text="${error}" class="text-danger"></li>
            </ul>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="releaseDate" class="h4 mb-2" th:classappend ="${fontColor}">Release Date</label>
            </div>
            <input type="date" th:field="*{releaseDate}" class="form-control" id="releaseDate" name="releaseDate" required/>
            <ul th:if="${#fields.hasErrors('releaseDate')}">
                <li th:each="error :  ${#fields.errors('releaseDate')}" th:text="${error}" class="text-danger"></li>
            </ul>
        </div>
        <input type='hidden' th:name='${_csrf.parameterName}' th:value='${_csrf.token}' />
        <div class="button-holder d-flex justify-content-center">
            <button class="btn btn-info text-white mb-3" type="submit">Add</button>
        </div>
    </form>
    </div>
    </div>

</main>
<script src="/js/book.js"></script>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>