<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<th:block th:include="~{fragments/head}"/>
<body th:background="${backgroundImage}">
<th:block th:include="~{fragments/header}"/>
<main>
    <div class="container"><br>
        <h3 class="text-white" th:classappend ="${fontColor}">Something Went Wrong!</h3>
        <h3 class="text-white" th:classappend ="${fontColor}" th:text="${message}"></h3>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>