<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        >
<th:block th:include="~{fragments/head}"/>

<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <div class="container text-center text-white">
        <p class="h3 text-white" th:text="${session.greeting}+ ${session.username}"></p><br>
        <div class="text-white text-center">
            <p class="h4 text-white">Enjoy your time, reading, sharing and discussing our favorite genre- Fantasy!</p>
        </div><br><br>

        <th:block th:if="${questionsForUserCount == 0}">
            <div class="text-white text-center">
                <p class="h4 text-white">You have not published any questions yet! Don't be shy and start a discussion <a href="/add-question">HERE</a> </p>
            </div><br>
        </th:block>
        <th:block th:unless="${questionsForUserCount == 0}">
            <br> <div class="text-white text-center">
                <p class="h6 text-white">Questions you have asked:</p>

                <table class="table table-bordered bg-text justify-content-around" id="table" >
                    <thead>
                    <tr>
                        <th scope="col">Title:</th>
                        <th scope="col">Published On</th>
                        <th scope="col">Answered</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="question : ${questionsForUser}">
                        <td><a th:href="@{'/explore/question/' + ${question.getId()}}" th:text="${question.getTitle()}"></td>
                        <td th:text="${question.getPublishDate()}"></td>
                        <td th:text="${question.getAnswersCount()}"></td>

                    </tr>

                    </tbody>
                    </table>
            </div><br>
        </th:block>
        <th:block th:if="${storiesForUserCount == 0}">
            <div class="text-white text-center">
                <p class="h4 text-white">You have not published any stories yet! Show the world what a great author you are <a href="/add-story">HERE</a> </p>
            </div><br>
        </th:block>
        <th:block th:unless="${storiesForUserCount == 0}">
            <br><div class="text-white text-center">
                <p class="h6 text-white">Stories you have published:</p>

                <div class='row mb-4 d-flex justify-content-around' th:each="story : ${storiesForUser}">

                   <div class="col-md-4 d-flex flex-column bg-text mb-3">
                        <a th:href="@{'/explore/story/' + ${story.getId()}}">
                            <p class="text-muted">Title: <u><span class="h4 text-white" th:text="${story.getTitle()}"></span></u> </p>
                            <p class="text-muted">Rating: <span class="p text-white" th:text="${story.getRating()}"> / 5</span> </p>
                            </a></div>

                    </div>


            </div><br>
        </th:block>

    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>