<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"

>
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <div class="container" id="index">
        <div class="text-center text-white">
            <div class="text-center border border-white"><br>
                <p class="h3 text-white"><em>&#65282;<span th:text="${quoteOfTheDay.getContent()}"></span>&#65282;</em></p>
                <p class="h4 blockquote-footer text-info"><span th:text="${quoteOfTheDay.getAuthor()}"></span></p>
                <br></div><br><br></div>
        <div>
            <div class="text-white text-center">
                <p class="h6 white text">We are a small community, keen on fantasy</p>
                <p class="h6 white text">Here you can explore and share information regarding fantasy books and movies.</p>
                <p class="h6 white text">You can comment and rate, </p>
                <p class="h6 white text">you can publish your oun fantasy story, share your favorite smart quotes, </p>
                <p class="h6 white text">ask a question, start a discussion, </p>
                <p class="h6 white text">or answer other's questions.</p>
                <p class="h6 text-white"> <a href="/login">LOGIN</a> or  <a href="/register">REGISTER</a> now!</p>
            </div>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>